<h2 class="mb-4">Creando Post</h2>

<form action="/posts" method="POST">
	<div class="form-control">
		<label for="title" class="form-label">Título</label>
		<input name="title" type="text" class="form-control" id="title" placeholder="Ingrese el nombre del post">
	</div>

	<div class="form-control">
		<label for="body" class="form-label">Cuerpo</label>
		<textarea name="body" class="form-control" id="body" rows="3"></textarea>
	</div>

	<button class="btn btn-primary mt-4">Enviar</button>
</form>